{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h1>Список объявлений</h1>
        <div class="mb-2 flex-container">
            <!-- Форма сортировки -->
            <div class="sort-container">
                <button id="toggle-sort" type="button" class="btn btn-secondary btn-sm">Сортировка ▶</button>
                <span id="sort-label" class="ml-2"></span>
                <span id="reset-sort-label" class="reset-label">&#10006;</span>
                <form id="sort-form" method="post" class="d-none form-container">
                    {% csrf_token %}
                    {{ sort_form.as_p }}
                    <div id="sort-fields-container"></div>
                    <button id="apply-sort" type="button" class="btn btn-primary">Применить</button>
                </form>
            </div>
            <div class="search-container">
                <div class="search-input-container" data-tip="Можно ввести несколько фрагментов VIN через запятую">
                    <input type="text" placeholder="Поиск по VIN" name="vin_search" class="form-control"
                           id="id_vin_search"/>
                    <span id="reset-search-label" class="reset-label">&#10006;</span>
                </div>
                <button id="apply-search" type="button" class="btn btn-primary">Искать</button>
            </div>
        </div>
        <!-- Панель с фильтрами -->
        <div class="filter-container">
            <div class="filter-row">
                <select class="mark-select" multiple>
                    <option value="">Марка</option>
                </select>
                <select class="model-select" multiple>
                    <option value="">Модель</option>
                </select>
                <select class="modification-select" multiple>
                    <option value="">Модификация</option>
                </select>
            </div>
            <div class="filter-row">
                <select class="body-select" multiple>
                    <option value="">Кузов</option>
                </select>
                <select class="configuration-select" multiple>
                    <option value="">Комплектация</option>
                </select>
                <select class="color-select" multiple>
                    <option value="">Цвет</option>
                </select>
            </div>
            <div class="filter-row">
                <div class="block-select">
                    <div class="price-container__input">
                        <input class="price-input input-from" type="text" placeholder="Цена от">
                        <span class="focus-border">
                <i></i>
              </span>
                    </div>
                    <div class="price-container__input">
                        <input class="price-input input-to" type="text" placeholder="Цена до">
                        <span class="focus-border">
                <i></i>
              </span>
                    </div>
                </div>
                <div class="block-select">
                    <div class="price-container__input">
                        <input class="price-input input-from" type="text" placeholder="Год от">
                        <span class="focus-border">
                <i></i>
              </span>
                    </div>
                    <div class="price-container__input">
                        <input class="price-input input-to" type="text" placeholder="Год до">
                        <span class="focus-border">
                <i></i>
              </span>
                    </div>
                </div>
                <div class="block-select">
                    <div class="item">
                        <div class="checkbox-rect2">
                            <input type="checkbox" id="checkbox-rect2" name="check">
                            <label for="checkbox-rect2">С пробегом</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'ads/ads_block.html' %}
    </div>
{% endblock %}
{% block js_scripts %}
    <script src="{% static 'js/choices.min.js' %}"></script>
    <script src="{% static 'js/sorting.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}

