<div id="ads-container">
    {% for ad in ads %}
        <div class="container mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{{ ad.get_absolute_url }}" target="_blank" rel="noopener">
                                <img class="img-fluid rounded" src="{{ ad.get_first_photo }}" alt="{{ ad }}">
                            </a>
                        </div>
                        <div class="col-md-8">
{#                            <div class="date-updated-container">#}
{#                                <span class="card-datetime-updated">{{ ad.datetime_updated|date:"Y-m-d H:i" }}</span>#}
{#                            </div>#}
                            <div class="card-title">
                                <a href="{{ ad.get_absolute_url }}" target="_blank"
                                   rel="noopener">{{ ad.mark }} <br> {{ ad.model }}</a>
                                <div class="price-container">
                                    <div class="card-price">
                                        <span class="detail-price">{{ ad.get_price_display }}</span>
                                        {% if ad.get_price_nds_display == "Да" %}
                                            <span class="sticker nds-yes">с НДС</span>
                                        {% elif ad.get_price_nds_display == "Нет" %}
                                            <span class="sticker nds-no">без НДС</span>
                                        {% endif %}
                                    </div>
                                    <div class="good">
                                        <span class="good-price">{{ ad.get_good_price }}</span>
                                        <span class="sticker discount">Минимальная</span>
                                    </div>
                                </div>
                                <span class="card-year">{{ ad.year }} г</span>
                            </div>
                            <div class="card-text">
                                <p class="card-text__prev text-body-secondary">
                                    {{ ad.complectation }}<br>
                                    {{ ad.get_modification_display }}  <br>
                                    {{ ad.body_type }} <br>
                                    {{ ad.color }}<br>
                                    {{ ad.original_vin }}<br>
                                    
                                </p>
                                <p class="card-text__prev text-body-secondary">
                                    {{ ad.get_run_display }} <br>
                                    {{ ad.get_availability_display }}<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>