{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cache %}

{% block headcontent %}

<title>Аукцион</title>

{% include 'base/daterange_picker.html' %}

<script>
    $(document).ready(function() {
        $.fn.dataTable.moment('DD.MM.YYYY HH:mm');

        $('#auctionTable').DataTable( {
            fixedHeader: {
                header: true,
                footer: true
            },
            columnDefs: [
              { "visible": false, "targets": [0, 1] },
              { "width": "30%", "targets": 3 },
              { "width": "35%", "targets": 6 },
            ],
            rowGroup: {
              dataSrc: [0, 1]
            },
			  order: [[0, "desc"]],
            select: {
                toggleable: true,
                info: false
            },
            responsive: true,
            pageLength: 100,
            language: {
                url: '{% static "js/datatables-ru.json" %}'
            }
        });


        <!-- Чекбоксы Выбрать все для марок и регионов-->
        $('#id_select_all_marks').click(function() {
          $('input[type=checkbox][name=mark_checkbox]').prop('checked', $(this).prop('checked'));
        });

        $('#id_select_all_regions').click(function() {
          $('input[type=checkbox][name=region_checkbox]').prop('checked', $(this).prop('checked'));
        });


    } );

</script>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12 center">
            <h3 class="logo"><a href="{% url 'auction' %}">Аукцион</a></h3>

            <!--Выбор периода-->
            <form method="POST" class="period">
                {% csrf_token %}
                {{ form.daterange }}
                <button type="submit" class="btn btn-primary">Показать</button>
                <button type="submit" class="btn btn-primary" formaction="{% url 'download_auction' %}">Скачать</button>


                <!-- Список марок -->
                <details>
                    <summary>Марки</summary>
                    <div class="content">
                        <label for="id_select_all_marks">
                            {{ form.select_all_marks }}
                            Выбрать все
                        </label>
                        {{ form.mark_checkbox }}
                    </div>
                </details>

                <!-- Список регионов -->
                <details>
                    <summary>Регионы</summary>
                    <div class="content">
                        <label for="id_select_all_regions">
                            {{ form.select_all_regions }}
                            Выбрать все
                        </label>
                        {{ form.region_checkbox }}
                    </div>
                </details>

                <!--Дополнительные фильтры-->
                <div class="checkbox-padding">
                    {{ form.only_first }}
                    {{ form.only_first.label_tag }}
                    <br>
                    {{ form.all_dealers_filled }}
                    {{ form.all_dealers_filled.label_tag }}
                </div>

            </form>

            {% if plot_html %}
                <details class="graph" open>
                    <summary>График</summary>
                    <div class="content">{{ plot_html|safe }}</div>
                </details>
            {% else %}
                <details class="graph">
                    <summary>График</summary>
                    <div class="content"><strong>Чтобы увидеть график выбери одну Марку и один Регион</strong></div>
                </details>
            {% endif %}

            <!--Таблица аукциона-->
            {% if auction_data %}
            <table id="auctionTable" class="row-border hover order-column stripe compact">
                <thead class="thead-dark">
                    <tr>
                        <th>Дата и время</th>
                        <th>Регион</th>
                        <th>Марка</th>
                        <th>Модель</th>
                        <th>Позиция</th>
                        <th>Ставка</th>
                        <th>Дилер</th>
                        <th>Конкурентов по ставке</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in auction_data %}
                    <tr>
                        <td>{{ row.datetime|date:"d.m.Y H:i" }}</td>
                        <td>{{ row.autoru_region }}</td>
                        <td>{{ row.mark.mark }}</td>
                        <td>{{ row.model.model }}</td>
                        <td>{{ row.position }}</td>
                        <td>{{ row.bid }}</td>
                        {% if row.dealer %}
                            <td>{{ row.dealer }}</td>
                        {% elif row.client %}
                            <td>{{ row.client }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ row.competitors }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="tfoot-dark">

                </tfoot>
            </table>
            {% endif %}
        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        {% if marks_checked %}
            selected_checkboxes({{ marks_checked|safe }}, 'mark_checkbox', 'select_all_marks');
        {% endif %}

        {% if regions_checked %}
            selected_checkboxes({{ regions_checked|safe }}, 'region_checkbox', 'select_all_regions');
        {% endif %}
    });
</script>
{% endblock %}
