/*----------------------Лого--------------*/
.logo {
    margin-top: 20px;
}
.logo a {
    color: #000;
    text-decoration: none;
}
.logo a:hover {
    text-decoration: underline;
}
/*----------------------Период--------------*/
.period {
    margin: 20px 0;
}
/*---------------------------------------------------*/


/*----------------------Список клиентов--------------*/
summary {
  background: #fff;
  padding: 5px;
  border: 2px solid transparent;
  outline: none;
  &:focus {
    border-color: black;
  }
}

details {
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 5px;
}
.content {
  text-indent: 20px;
  border-top: none;
  padding: 10px;
  border: 1px solid grey;
  border-top: none;
}

#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

ul {
    list-style-type: none;
}

/*---------------------------------------------------*/



/*---------------- DataTables.net мои настройки --------------*/
.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
/*
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;

   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}

.thead-dark, .tfoot-dark {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    font-weight: bold;
}

.client-name {
    word-break: break-word;
}

.negative {
    background-color: #E0C2CD !important;
}

.positive {
    background-color: #DDE8CB !important;
}

.chosen-dealer td {
    background-color: #DEE6EF !important;
}

.thick-border td {
    border-top: medium solid black;
}

th {
   white-space: normal !important;
   vertical-align: middle;
}

table.dataTable td,
table.dataTable tr {
 font-size: 14px;
}

/*---------------------------------------------------*/

/*---------------- График ---------------------------*/
.graph {
    max-width: none;
}
/*---------------------------------------------------*/

.checkbox-padding {
    padding-left: 5px;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}
