@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/*----------------------Лого--------------*/
.logo {
    margin-top: 20px;
}

.logo a {
    color: #000;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline;
}

/*----------------------Период--------------*/
.period {
    margin: 20px 0;
}

/*---------------------------------------------------*/


/*----------------------Список клиентов--------------*/
summary {
    background: #fff;
    padding: 5px;
    border: 2px solid transparent;
    outline: none;

    &:focus {
        border-color: black;
    }
}

details {
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 5px;
}

.content {
    text-indent: 20px;
    border-top: none;
    padding: 10px;
    border: 1px solid grey;
    border-top: none;
}

#checkboxes ul {
    margin: 0;
    list-style: none;
    float: left;
}

ul {
    list-style-type: none;
}

/*---------------------------------------------------*/

/*----------------Таблица себестоимости--------------*/


/*---------------- DataTables.net мои настройки --------------*/
.table-responsive-stack tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
    display: block;
    /*
       flex-grow | flex-shrink | flex-basis   */
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .table-responsive-stack tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-bottom: 3px solid #ccc;
        display: block;

    }

    /*  IE9 FIX   */
    .table-responsive-stack td {
        float: left \9;
        width: 100%;
    }
}

.thead-dark, .tfoot-dark {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    font-weight: bold;
}

.client-name {
    word-break: break-word;
}

.negative {
    background-color: #E0C2CD !important;
}

.positive {
    background-color: #DDE8CB !important;
}

.chosen-dealer td {
    background-color: #DEE6EF !important;
}

.thick-border td {
    border-top: medium solid black;
}

th {
   white-space: normal !important;
   vertical-align: middle;
}

table.dataTable td,
table.dataTable tr {
 font-size: 14px;
}

/*---------------------------------------------------*/

/*---------------- График ---------------------------*/
.graph {
    max-width: none;
}

/*---------------------------------------------------*/

.checkbox-padding {
    padding-left: 5px;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

/*------------------------Карточка объявления---------------------------*/

.container {
    font-family: 'Montserrat', sans-serif;
}

.card {
    box-shadow: 10px 12px 12px rgba(42, 53, 64, 0.1);
    transition: all 250ms ease-in-out;
    border-radius: 15px;
    --bs-border-color-translucent: none;
}

.card:hover {
    box-shadow: 15px 18px 15px rgba(27, 37, 47, 0.1);
    background-color: rgba(241, 241, 241, 0.4);
    border: none;
}

.card-body {
    padding: 15px;
}

.date-updated-container {
    text-align: right;
    margin-bottom: 10px;
}

.card-datetime-updated {
    font-size: 14px;
    color: #888;
}


.card-title {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.card-title a {
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.card-title a:hover {
    color: #5259ef;
}

.card-price {
    display: flex;
    font-weight: 600;
    align-items: flex-end;
    margin-bottom: 13px;
    position: relative;
    white-space: nowrap;
}

.card-year {
    font-weight: 400;
    margin-right: 15px;
}

.card-text {
    display: flex;
    justify-content: space-between;
}

.card-text__prev {
    margin-right: 5px;
    padding: 10px;
    font-size: 1em;
}


/*------------------------Детальная страница объявления---------------------------*/

.detail-page {
    display: flex;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detail-datetime-updated {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #808080;
    margin-bottom: 40px;
}

.ad-info {
    width: calc(100% - 592px - 60px);
}

.left-line {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    min-width: 90%;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.detail-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 35px;
    color: #4D4D4D;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.detail-price {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #4D4D4D;
    margin-right: 40px;
}

.good {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-left: 20px;
}

.good-price {
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #4D4D4D;
    margin-right: 40px;
    white-space: nowrap;
}

.sticker {
    font-weight: bold;
    font-size: 16px;
    color: #fff; /* цвет текста стикера */
    padding: 2px 8px; /* отступы внутри стикера */
    border-radius: 0 5px 5px 0; /* скругление углов */
    position: relative;
    top: -5px; /* отступ от верхнего края блока .card-price */
    right: 35px; /* отступ от правого края блока .card-price */
    transform: skewX(-20deg) translate(20px); /* наклон левой стороны */
    transform-origin: top right; /* устанавливаем точку начала наклона справа вверху */
}

.sticker.nds-yes {
    background-color: #185d36;
}

.sticker.nds-no {
    background-color: #620c0c;
}

.sticker.discount {
    background-color: #4D4D4D; /* цвет фона стикера */
    top: -8px; /* отступ от верхнего края блока .card-price */
    right: 35px; /* отступ от правого края блока .card-price */
    padding: 1px 8px; /* отступы внутри стикера */
    font-size: 14px;
    font-weight: 500;
}


.line_vert {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding-right: 40px; /* для создания отступа между границей и содержимым */
}

.indent {
    margin-bottom: 10px;
}

.ad-info__fields {
    font-size: 1em;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px;
}

.field-name {
    grid-column: 1;
    text-align: left;
    margin-right: 20px;
    font-weight: normal;
    opacity: 0.7;
    white-space: nowrap;
}

.field-value {
    grid-column: 2;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
}

.expand-trigger {
    cursor: pointer;
}

.expand-trigger.reveal::after {
    content: ' ▼';
}

.expand-trigger::after {
    content: ' ▶';

}


.field-name > hr {
    width: 120%;
    opacity: 1;
    border-color: rgba(173, 172, 172, 1);
}

.field-value > hr {
    opacity: 1;
    border-color: rgba(173, 172, 172, 1);
}

.hidden {
    display: none;
}

.hidden-preview {
    visibility: hidden;
}


.codes-trigger {
    margin-top: 30px;
}

.codes-trigger {
    cursor: pointer;
}

.reveal {
    font-weight: 500;
    margin-bottom: 15px;
}

.codes-trigger.reveal::after {
    content: ' ▼';
}

.codes-trigger::after {
    content: ' ▶';
}

.description-codes textarea {
    width: 100%;
    height: 120px;
    resize: none;
}

.references-trigger {
    margin-top: 30px;
}

.references-trigger {
    cursor: pointer;
}

.references-trigger.reveal::after {
    content: ' ▼';
}

.references-trigger::after {
    content: ' ▶';
}

.references-photos textarea {
    width: 100%;
    height: 140px;
    resize: none;
}

.description {
    width: 90%;
}

.description textarea {
    box-sizing: border-box;
    resize: none;
    height: 400%;
}

.form-control {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.description textarea .form-control {
    margin: 10px;
    padding: 15px;
}

/* Стили для тонкого ползунка */
.form-control::-webkit-scrollbar {
    width: 6px; /* Ширина ползунка */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.form-control::-webkit-scrollbar-thumb {
    background-color: #b2b0b0; /* Цвет ползунка */
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.form-control::-webkit-scrollbar-thumb:hover {
    background-color: #858585; /* Цвет ползунка при наведении курсора */
}

.video-container {
    position: relative;
}

.youtube-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Анимация для текста "Оживление неоном" */
@keyframes neon {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 20px #007bff, 0 0 30px #007bff;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    }
}

/* Стили для текста "Оживление неоном" */

.lively-text {
    font-size: 2em;
    color: #007bff;
    font-weight: bold;
    animation: neon 1.5s infinite alternate;
}

/*------------------------Виджеты для списка объявлений---------------------------*/

/* Виджет сортировки и посика по VIN */

#sort-label {
    background-color: #4CAF50;
    color: white;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
}

#sort-label.hide {
    display: none;
}

#id_vin_search {
    width: 50%;
    margin-bottom: 15px;
    margin-right: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
    padding-left: 12px;
    padding-top: 12px;

}

.sort-container {
    flex: 1;
}

.form-container {
    width: 40%;
    flex: 0 0 auto;
    padding-top: 15px;
}

.search-input-container {
    width: 140%;
    display: flex;
}

/* Стили для кнопок "Применить" и "Искать" и крестик */

.btn-primary, .btn-secondary {
    background-color: #2a3540;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #1b252f;
}

.reset-label {
    cursor: pointer;
    transition: all 280ms ease-in-out;
    margin: 7px 5px;
}


.reset-label:hover {
    color: #a44545;
}

.remove-button {
    cursor: pointer;
    margin: 6px 6px 6px 18px;
}

/* -----------------------Подсказка для поля поиска---------------------------- */

[data-tip] {
    position: relative;
}

[data-tip]:before {
    content: '';
    display: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #2a3540;
    position: absolute;
    top: -14px;
    left: 25%; /* Центрирует подсказку над полем ввода */
    transform: translateX(-50%);
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

[data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    margin-top: -38px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 8px;
    background: #2a3540;
    color: #fff;
    z-index: 9;
    font-size: 0.75em;
    height: 25px;
    line-height: 18px;
    border-radius: 3px;
    white-space: nowrap;
    word-wrap: normal;
}


[data-tip]:hover:before,
[data-tip]:hover:after {
    display: block;
}


/* -----------------------Панель для фильтров---------------------------- */
.choices__inner {
    border-radius: 15px;
    background-color: #fff;
    min-height: auto;
    flex: 1;
}

.choices__input {
    background-color: #fff;
}

.is-open .choices__inner {
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;

}

.choices__list--dropdown, .choices__list[aria-expanded] {
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: auto;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    font-size: 14px;
    font-weight: 500;
    color: #2a3540;
    border-radius: 5px;
}


.choices__list > .choices__item--choice.choices__placeholder:first-child {
    display: none;
}

.choices__list--multiple .choices__item {
    background: #2a3540;
    border: 1px solid #050505;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    cursor: initial;
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 3px 7px;
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
    border-left: 1px solid #949494;
}

#toggle-filter {
    margin: 12px;
}


.filter-container {
    box-shadow: 10px 12px 12px rgba(42, 53, 64, 0.1);
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
    margin: 12px;
}

.filter-row {
    display: flex;
    gap: 25px;
}

.choices {
    flex: 1;
}

.choices:last-child {
    margin-bottom: 24px;
}

.block-select {
    display: flex;
    flex: 1;
}


.block-select .year-1 .choices__inner {
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

.block-select .year-2 .choices__inner {
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
}

/*инпуты*/

:focus {
    outline: none;
}

input[type="number"] {
    color: #242425;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/* Скрыть стрелочки для числовых инпутов */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container__input {
    float: left;
    width: 50%;
    position: relative;
}


.price-input,
.year-input,
.run-input {
    border: 1px solid #ccc;
    padding: 20px 14px 12px;
    height: 46px;
    font-size: 15px;
    position: relative;
    color: #595a5b;
}

.price-input:focus,
.year-input:focus,
.run-input:focus {
    border: 1px #afaeae solid;
}

.input-from {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.input-to {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

/* Серая надпись в инпуте*/
.placeholder_custom {
    position: absolute;
    top: 14px; /* отступ от верхнего края */
    left: 15px; /* отступ от левого края */
    padding-bottom: 10px;
    color: #696a6b;
    font-size: 13px;
    pointer-events: none; /* чтобы надпись не мешала вводу */
    transition: all 0.3s ease;
}

.placeholder_custom.focused {
    top: 5px; /* смещаем кастомную надпись при фокусе или наличии введенного значения */
    font-size: 9px; /* уменьшаем размер кастомной надписи при фокусе или наличии введенного значения */
    color: #858484; /* меняем цвет кастомной надписи при фокусе или наличии введенного значения */
}

.container__input input:focus + .placeholder_custom {
    top: 5px; /* смещаем кастомную надпись при фокусе */
    font-size: 9px; /* уменьшаем размер кастомной надписи при фокусе */
    color: #858484; /* меняем цвет кастомной надписи при фокусе */
}

/* Форма входа */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.body-form {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.inner-container-form {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 868px;
    max-width: 100%;
    min-height: 480px;
}

.inner-container-form p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}


.inner-container-form a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}


.inner-container-form button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.change-color {
    background-color: #5c6bc0;
}

.inner-container-form button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.inner-container-form form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.inner-container-form input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container_login {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.inner-container-form.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.inner-container-form.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.inner-container-form.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.inner-container-form.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.inner-container-form.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.inner-container-form.active .toggle-right {
    transform: translateX(200%);
}

#register, #login {
    border: 1px white solid;
    background-color: transparent;
    transition: background-color 0.6s, transform 0.5s;
}

#login-submit, #register-submit {
    transition: background-color 0.6s, transform 0.5s, box-shadow 0.5s;
    background-color: #512DA8FF;
}

#login-submit:hover {
    background-color: #39168d;
}

#register-submit:hover {
    background-color: #39168d;
}

#register:hover {
    background-color: #512da8;
}

#login:hover {
    background-color: #5c6bc0;
}


.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.profile-info p {
    font-size: 18px;
    line-height: 1.6;
}

.profile-info p strong {
    color: #333;
}


.welcome {
    font-size: 40px;
    padding-bottom: 20px;
    white-space: nowrap;
}

.inner-container-form span {
    font-size: 15px;
    padding-bottom: 20px;
}

@media (max-width: 860px) {
    .welcome {
        font-size: 35px
    }

    .inner-container-form span {
        font-size: 14px;
        padding-bottom: 9px;
    }

    .inner-container-form button {
        font-size: 11px;
        padding: 8px 35px;
    }
}

@media (max-width: 700px) {
    .welcome {
        font-size: 33px
    }

    .inner-container-form span {
        font-size: 13px;
        padding-bottom: 8px;
    }
    .inner-container-form button {
        font-size: 10px;
        padding: 7px 33px;
    }
}


@media (max-width: 570px) {
    .welcome {
        font-size: 28px
    }

    .inner-container-form span {
        padding-bottom: 6px;
    }
}

/* Ключевые кадры для анимации появления */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.messages {
    position: fixed;
    top: 40px; /* Расстояние от верха страницы */
    right: 70px; /* Центрирование блока */
    width: 30%;
    max-width: 500px;
    height: 30%;
    z-index: 1000;
}
/* Стилизация отдельного сообщения */
.alert {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    border-radius: 20px;
    color: #3e7935;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
    margin: 15px;
}

/* Стили для кнопки закрытия */
.closebtn {
    float: right;
    font-size: 25px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    transition: 0.4s;
    color: #3e7935;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px #3e7935 solid;
}

.closebtn:hover {
    color: #25421a;
}


/* Аудио плеер */
#audio-player {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2000;
}

#audio-element {
    width: 100%;
    display: inline-block;
}

/* Чтобы модальное окно было ниже аудио плеера */
.modal {
    z-index: 1500;
}

.modal-backdrop {
    z-index: 1400;
}