{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Date Range Picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'statsapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'statsapp/css/styles.css' %}" rel="stylesheet">
    <!-- Для таблицы себестоимости -->
    <script type="text/javascript" src="{% static 'statsapp/js/main_table.js' %}"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'statsapp/img/table-icon.png' %}">

    <title>Себестоимость звонков</title>
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>
