{% extends 'statsapp/base.html' %}
{% load static %}

{% block headcontent %}

<title>Автоконвертер</title>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h3 class="logo"><a href="{% url 'converter_manual' %}">Автоконвертер</a></h3>
            <br>

            <details>
                <summary class="btn btn-outline-info">Инструкция</summary>
                <h5>Как работает</h5>
                <ul class="list-group">
                    <li class="list-group-item">Автоконвертер сам забирает сток клиента</li>
                    <li class="list-group-item">делает по нему шаблон для конвертера</li>
                    <li class="list-group-item">получает готовый прайс от конвертера</li>
                    <li class="list-group-item">убирает автомобили у которых не расшифрованы коды или нет фото</li>
                    <li class="list-group-item">формирует логи с не расшифрованными кодами</li>
                </ul>
                <br>
                <h5>Как запустить</h5>
                <ul class="list-group">
                    <li class="list-group-item">Выбирай задачи, жми запустить</li>
                    <li class="list-group-item">Задачи это настройки обработки стоков. Часто имя задачи будет совпадать с именем клиента</li>
                    <li class="list-group-item">Жди какое-то время (зависит от скорости конвертера)</li>
                    <li class="list-group-item">Когда страница перезагрузится, будет сообщение "Готово" на зеленом фоне</li>
                    <li class="list-group-item">Стоки, шаблоны, прайсы и логи находятся на ftp в папке converter/имя_клиента</li>
                    <li class="list-group-item">Также логи можно взять у телеграм бота <a href="https://t.me/ConverterLogsBot">@ConverterLogsBot</a></li>
                </ul>
                <br>
                <h5>Как настроить задачи</h5>
                <ul class="list-group">
                    <li class="list-group-item">В админ панели в <a href="admin/statsapp/convertertask/">Задачах конвертера</a></li>
                </ul>
                <br>
            </details>
            <br>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post" onsubmit="showLoading()">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit" class="btn btn-primary" id="converter-submit">Запустить</button>
            </form>
            <div class="d-none" id="loading-spinner">
                <p>Минуту...</p>
                <img src="{% static 'statsapp/img/Spin-1s-91px.gif' %}" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}
