{% extends 'statsapp/base.html' %}
{% load static %}

{% block content %}
<script>
<!--Выбор периода-->
                $(function() {
                  $('input[name="daterange"]').daterangepicker({
                    opens: 'left',
                    "showDropdowns": true,
                    "minYear": 2016,
                    "maxYear": 2050,
                    "autoApply": true,
                    "locale": {
                        "format": "DD.MM.YYYY",
                        "separator": " - ",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "From",
                        "toLabel": "To",
                        "customRangeLabel": "Custom",
                        "weekLabel": "Н",
                        "daysOfWeek": [
                            "Вс",
                            "Пн",
                            "Вт",
                            "Ср",
                            "Чт",
                            "Пт",
                            "Сб"
                        ],
                        "monthNames": [
                            "Январь",
                            "Февраль",
                            "Март",
                            "Апрель",
                            "Май",
                            "Июнь",
                            "Июль",
                            "Август",
                            "Сентябрь",
                            "Октябрь",
                            "Ноябрь",
                            "Декабрь"
                        ],
                        "firstDay": 1,
                    },
                    "startDate": "{{ datefrom }}",
                    "endDate": "{{ dateto }}",
                    "drops": "right"
                },  function(start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                  });
                });
                </script>
<!-- DataTables.net -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/fc-4.2.1/fh-3.3.1/r-2.4.0/sl-1.5.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/fc-4.2.1/fh-3.3.1/r-2.4.0/sl-1.5.0/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#tableOne').DataTable( {
            fixedHeader: {
                header: true,
                footer: true
            },
            select: {
                toggleable: true,
                info: false
            },
            responsive: true,
            language: {
                url: '{% static 'statsapp/js/datatables-ru.json' %}'
            }
        } );
    } );
</script>


<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h3 class="logo"><a href="{% url 'home' %}">Себестоимость звонков</a></h3>
            <p><em>сейчас только авто.ру</em></p>

            <!--Выбор периода-->
            <form method="POST" class="period">
                {% csrf_token %}
                {{ form.daterange }}
                <button type="submit" class="btn btn-primary">Показать</button>
                <!--Список клиентов-->
                <details>
                  <!--Отмечает ранее выбранных клиентов-->
                  {% if clients_checked %}
                    <summary onclick="selected_clients({{ clients_checked }})">Клиенты</summary>
                  {% else %}
                    <summary>Клиенты</summary>
                  {% endif %}
                  <div class="content">
                      <ul>
                          <li><label><input type="checkbox" onclick="toggle(this)" checked/> Выбрать все</label></li>
                          {{ form.client_checkbox }}
                      </ul>
                  </div>
                </details>
            </form>

            <!--Таблица себестоимости-->
            {% if stats %}
            <table id="tableOne" class="row-border hover order-column stripe compact">
                <thead class="thead-dark">
                    <tr>
                        <th>Клиент</th>
                        <th>Приход с площадки</th>
                        <th>Траты на площадку</th>
                        <th>Траты на звонки</th>
                        <th>Траты на услуги</th>
                        <th>Звонки с площадки</th>
                        <th>Цена звонка</th>
                        <th>Цена клиента</th>
                        <th>Маржа</th>
                        <th>Заработок</th>
                    </tr>
                </thead>
                <tbody>
                {% for stat in stats %}
                    <tr>
                        <td class="client-name">{{ stat.name }}</td>
                        <td>{{ stat.teleph_calls_sum|floatformat:"0" }}</td>
                        <td>{{ stat.platform|floatformat:"0" }}</td>
                        <td>{{ stat.calls_sum|floatformat:"0" }}</td>
                        <td>{{ stat.products_sum|floatformat:"0" }}</td>
                        <td>{{ stat.teleph_target }}</td>
                        <td>{{ stat.call_cost|floatformat:"0" }}</td>
                        <td>{{ stat.client_cost|floatformat:"0" }}</td>
                        {% if stat.margin < 0 %}
                            <td class="negative">{{ stat.margin|floatformat:"0" }}</td>
                        {% else %}
                            <td>{{ stat.margin|floatformat:"0" }}</td>
                        {% endif %}
                        {% if stat.profit < 0 %}
                            <td class="negative">{{ stat.profit|floatformat:"0" }}</td>
                        {% else %}
                            <td>{{ stat.profit|floatformat:"0" }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="tfoot-dark">
                    <tr>
                        <td>Всего</td>
                        <td>{{ subtotal.teleph_calls_sum|floatformat:"0" }}</td>
                        <td>{{ subtotal.platform|floatformat:"0" }}</td>
                        <td>{{ subtotal.calls_sum|floatformat:"0" }}</td>
                        <td>{{ subtotal.products_sum|floatformat:"0" }}</td>
                        <td>{{ subtotal.teleph_target }}</td>
                        <td>{{ subtotal.calls_cost|floatformat:"0" }}</td>
                        <td>{{ subtotal.client_cost|floatformat:"0" }}</td>
                        {% if subtotal.margin < 0 %}
                            <td class="negative">{{ subtotal.margin|floatformat:"0" }}</td>
                        {% else %}
                            <td>{{ subtotal.margin|floatformat:"0" }}</td>
                        {% endif %}
                        {% if subtotal.profit < 0 %}
                            <td class="negative">{{ subtotal.profit|floatformat:"0" }}</td>
                        {% else %}
                            <td>{{ subtotal.profit|floatformat:"0" }}</td>
                        {% endif %}
                    </tr>
                </tfoot>
            </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}