{% extends 'base/base.html' %}
{% load static %}
{% load auth_extras %}

{% block headcontent %}

<title>Звонки. Детально</title>

{% include 'base/daterange_picker.html' %}

{% endblock %}

{% block content %}
<!--Modal-->
<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="callModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <!-- сюда подставится из call_modal.html при вызове модального окна -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 center">
    <h3 class="logo"><a href="{% url 'calls' %}">Звонки. Детально</a></h3>
  </div>
  <div class="col-xl-6 text-end">
    <p class="small-note text-end">Обновлено: {{ last_updated }}</p>
    {% if request.user|has_group:'admin' %}
    <button class="btn btn-outline-primary btn-sm">
      <a
          href="https://docs.google.com/document/d/11rOTSOJTznCVxQYE8uGOF56DbufO0bBteBnd8EKDR6Y/edit?usp=sharing"
          target="_blank"
      >?</a>
    </button>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-xl-6 center">
    <!--Выбор периода-->
    <form method="POST" class="period" action="{% url 'calls' %}">
      {% csrf_token %}
      {{ form.daterange }}
      <button type="submit" class="btn btn-primary">Показать</button>
      <button type="submit" class="btn btn-outline-primary" formaction="{% url 'download_calls' %}">Скачать
      </button>
      <!--Список клиентов-->
      <details>
        <summary>Клиенты</summary>
        <div class="content">
          <label for="id_select_all_clients">
            {{ form.select_all_clients }}
            Выбрать все
          </label>
          {{ form.client_checkbox }}
        </div>
      </details>
    </form>
  </div>

  <!-- Добавить звонок -->
  {% if request.user|has_group:'admin' %}
  <div class="col-xl-6 text-end mt-3">
    <button id="new-call" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#callModal"
        data-new="true">
      Добавить звонок
    </button>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-xl-12 center">

    <!--Ссылки на клиентов в agency.auto.ru-->
    {% if request.user|has_group:'admin,listener' %}
      {% if agency_autoru_links %}
      <div class="agency-autoru-links">
        Кабинеты авто.ру:
        {% for client_name, link in agency_autoru_links %}
          <a href="{{ link }}" target="_blank">{{ client_name }}</a> |
        {% endfor %}
      </div>
      {% endif %}
    {% endif %}

    <!--Таблица звонков-->
    <div class="table-responsive">
      <table
          id="datatable_calls"
          class="table table-striped table-bordered dt-responsive hover"
      >
        <thead class="table-dark"></thead>
      </table>
    </div>

    {% if call_data %}
    <script language="javascript">
      $(document).ready(function () {

        function datatableDrawCallback(settings) {
          // После сохранения звонка меняет цвет иконки редактирования
          const id = $('#recordId').val();
          if (id) {
            let editBtn = $(`button.edit-btn[data-id=${id}]`)[0];
            changeLastEditedButton(editBtn);
          }
        }

        $.getJSON('{% static "js/datatables-ru.json" %}', function (data) {
          let language_json = data;

          AjaxDatatableViewUtils.initialize_table(
            $("#datatable_calls"),
            "{% url 'ajax_datatable_calls' %}",
            {
              fixedHeader: {
                header: true,
                footer: true
              },
              responsive: false,
              {#full_row_select: true, #}
              processing: true,
              autoWidth : true,
              scrollX: true,
              language: language_json,
            pageLength: 50,
            createdRow: styleRowOnCondition,
            drawCallback: datatableDrawCallback,
            },
            {
              // extra_data
              filter_params: "{{ filter_params }}",
            },
          );
        });

        $('#datatable_calls').on('draw.dt', function () {
          audioButtons('button[data-audio-url]');
        });

        $('#datatable_calls').on('rowCallback', function (event, table, row, data) {
          if (data.repeat_call === 'Да') {
            $(row).addClass('positive-text');
          }
        });

      });
    </script>
    {% endif %}

    <!--Аудио плеер-->
    <div id="audio-player">
      <audio id="audio-element" controls></audio>
    </div>

  </div>

</div>

<script type="text/javascript" src="{% static 'js/dynamic_fields.js' %}"></script>
<script>
  // Отмечает ранее выбранные чекбоксы
  document.addEventListener("DOMContentLoaded", function () {
    {% if clients_checked %}
      selected_checkboxes({{ clients_checked | safe }}, 'client_checkbox', 'select_all_clients' );
    {% endif %}
  });


  //-------------------------- Аудио плеер -------------------------
  // Иконки
  const playClasses = 'fa-regular fa-circle-play';
  const pauseClasses = 'fa-solid fa-pause';
  const replayClasses = 'fa-solid fa-rotate-left';
  // Кнопки звонков и элементы плеера
  const audioElement = document.getElementById('audio-element');
  const audioPlayer = document.getElementById('audio-player');
  // Чтобы менять иконку на последней включенной записи звонка. cloned* используются в модальном окне
  let lastPlayedButton, lastPlayedIcon, clonedPlayButton, clonedPlayIcon;

  function audioEvents(element) {
    // Вид и функционал кнопок плеера у звонков внутри таблицы

    let icon = element.querySelector('i');

    // Если иконка play
    if (icon.className === playClasses) {
      // Меняю на иконку pause
      icon.className = pauseClasses;

      // Если src пустой то меняю на ссылку с текущего звонка
      if (audioElement.src === '') {
        audioElement.src = element.dataset.audioUrl;
      }

      // Если src не равен текущему звонку значит начали слушать другой звонок, меняю src на ссылку текущего звонка
      // и иконку прошлого звонка на play
      if (audioElement.src !== element.dataset.audioUrl) {
        audioElement.src = element.dataset.audioUrl;
        lastPlayedIcon.className = playClasses;
      }

      // Если не на паузе значит подгружаю запись звонка
      if (!audioElement.paused) {
        audioElement.load();
      }

      // Включаю плеер, показываю его, запоминаю кнопку и иконку звонка который начали слушать
      audioElement.play();
      audioPlayer.style.display = 'block';
      {#lastPlayedButton = element; #}
      if (element !== clonedPlayButton) {
        lastPlayedButton = element;
        lastPlayedIcon = icon;
      } else {
        clonedPlayIcon = icon;
      }

    } else if (icon.className === pauseClasses) {
      // Если иконка pause то ставлю на паузу и меняю иконку на play
      audioElement.pause();
      icon.className = playClasses;

    } else if (icon.className === replayClasses) {
      // Если иконка replay то начинаю с начала и меняю иконку на pause
      audioElement.play();
      icon.className = pauseClasses;
    }
  }

  function audioButtons(selector) {
    // Аудио плеер
    // Меняю иконку последнего звонка в зависимости от состояния плеера
    audioElement.addEventListener('play', () => {
      lastPlayedIcon.className = pauseClasses;
    });
    audioElement.addEventListener('pause', () => {
      lastPlayedIcon.className = playClasses;
    });
    audioElement.addEventListener('ended', () => {
      lastPlayedIcon.className = replayClasses;
      clonedPlayIcon.className = clonedPlayButton ? replayClasses : null;
    });

    // Event listener на каждую кнопку звонка
    const playButtons = document.querySelectorAll(selector);
    playButtons.forEach(button => {
      button.addEventListener('click', () => {
        audioEvents(button);
      });
    });
  }

  function audioButtonForModal(event) {
    // Кнопка плеера в модальном окне
    // Клонирую кнопку с текущего звонка
    const row = event.relatedTarget.closest('tr');
    lastPlayedButton = row.querySelector('.play-record-btn');
    lastPlayedIcon = lastPlayedButton.querySelector('i');
    clonedPlayButton = lastPlayedButton.cloneNode(true);
    clonedPlayIcon = clonedPlayButton.querySelector('i');

    // Добавляю label и div чтобы было: Прослушать {кнопка}
    let label = document.createElement('label');
    label.htmlFor = 'play-in-modal';
    label.className = 'form-label';
    label.innerText = 'Прослушать';

    let div = document.createElement('div');
    div.appendChild(label);
    div.appendChild(clonedPlayButton);

    // Вставляю в модальное окно
    const modalBody = document.querySelector('.modal-body');
    {#modalBody.insertBefore(clonedPlayButton, modalBody.firstChild); #}
    modalBody.insertBefore(div, modalBody.firstChild);
    clonedPlayButton.addEventListener('click', event => {
      event.preventDefault();
      audioEvents(clonedPlayButton);
    });
  }

  //-------------------------- Конец Аудио плеера -------------------------

  function styleRowOnCondition(row, data, dataIndex) {
    // Меняет стиль ряда по условию
    // Если у звонка стоит Обратить внимание то крашу в красный
    if (data['attention'] === 'Да') {
      row.querySelectorAll('td').forEach(td => td.classList.add('negative'));
    }
  }

  function manualEdit() {
    // В модальном окне меняю возможность редактирования полей которые изначально закрыты
    // в зависимости от чекбокса Ручное редактирование звонка
    const fieldIds = ['#id_client_primatel', '#id_datetime', '#id_num_from', '#id_num_to', '#id_duration',
      '#id_call_price', '#id_num_redirect', '#id_record'];
    let manualCallPriceCheckbox = document.querySelector('#id_manual_edit');

    // Event listener на изменения чекбокса
    manualCallPriceCheckbox.addEventListener('change', function () {
      fieldIds.forEach(fieldId => {
        let fieldElement = document.querySelector(fieldId);
        fieldElement.disabled = !this.checked;
      });
    });

    // Первичное состояние полей
    if (!manualCallPriceCheckbox.checked) {
      fieldIds.forEach(fieldId => {
        let fieldElement = document.querySelector(fieldId);
        fieldElement.disabled = true;
      });
    }
  }

  function createCall(formData) {
    // Добавляет звонок
    $.ajax({
      url: '/api/v1/calls/',
      type: 'POST',
      data: formData,
      beforeSend: function (xhr) {
        xhr.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
      },
      success: function (response) {
        $('#callModal').modal('hide');
      },
      error: function (error) {
        console.log(error);
      }
    }).done(function (data, textStatus, jqXHR) {
      // Открываю страницу с отфильтрованными звонками среди которых есть этот созданный
      const dateMoment = moment(data['datetime']);
      const dateFormatted = dateMoment.format('DD-MM-YYYY');
      let urlParams = new URLSearchParams(window.location.search);
      urlParams.set('datefrom', dateFormatted);
      urlParams.set('dateto', dateFormatted);
      urlParams.set('client_primatels', data['client_primatel']);
      urlParams.set('num_from', data['num_from']);
      urlParams.set('num_to', data['num_to']);
      window.location.href = `{% url 'calls' %}?${urlParams.toString()}`;
    });
  }

  let lastEditedButton;

  function changeLastEditedButton(button) {
    // Меняет внешний вид кнопки редактирования у звонка чтобы было видно какой последний звонок редактировали.
    if (lastEditedButton) {
      lastEditedButton.classList.remove('btn-info');
      lastEditedButton.classList.add('btn-primary');
    }
    lastEditedButton = button;
    button.classList.remove('btn-primary');
    button.classList.add('btn-info');
  }

  function changeDateTimeFormat(dateTimeStr) {
    // Меняет формат даты и времени на нужный для обновления звонка в модальном окне
    const dateTimeMoment = moment(dateTimeStr, 'DD.MM.YYYY HH:mm:ss', true);
    return dateTimeMoment.format('YYYY-MM-DDTHH:mm:ss');
  }

  $(document).ready(function () {
    // Чекбокс Выбрать все для клиентов
    $('#id_select_all_clients').click(function () {
      $('input[type=checkbox][name=client_checkbox]').prop('checked', $(this).prop('checked'));
    });

    // Модальное окно
    let modal = $('#callModal');

    modal.on('show.bs.modal', function (event) {
      // Наполняю модальное окно данными
      let button = $(event.relatedTarget);
      if (button.data('new') === true) {  // Добавление звонка
        $.ajax({
          url: 'calls/new',
          type: 'GET',
          success: function (response) {
            $('.modal-content').replaceWith(response);
            document.querySelector('#id_manual_edit').checked = true;
            manualEdit();
            modelFromMark();
          },
          error: function (error) {
            console.error(error);
          }
        });

      } else {  // Редактирование звонка
        let id = button.data('id');

        changeLastEditedButton(button[0]);

        $.ajax({
          url: `/calls/edit/${id}`,
          type: 'GET',
          success: function (response) {
            $('.modal-content').replaceWith(response);
            {#$('#id_mark').on('change', modelFromMark); #}
            modelFromMark();
          },
          error: function (error) {
            console.error(error);
          }
        });
      }
    })

    modal.on('shown.bs.modal', function (event) {
      let button = $(event.relatedTarget);
      const newCall = button.data('new') === true;

      if (!newCall) {
        audioButtonForModal(event);
        manualEdit();
      }
      // Кнопка Сохранить модального окна
      $('#save-btn').on('click', function (e) {
        e.preventDefault();

        const form = document.querySelector('#callForm');
        // Собираю данные формы. Приходится таким способом т.к. выключенное Ручное редактирование звонка ставит
        // disabled на часть полей, а от этого они не отправляются при сохранении и выдают ошибки.
        const textInputs = form.querySelectorAll('input:not([type="checkbox"])');
        const selects = form.querySelectorAll('select');
        const checkboxInputs = form.querySelectorAll('input[type="checkbox"]')
        let formData = {};
        textInputs.forEach(element => {
          formData[element.name] = element.value;
        });
        selects.forEach(element => {
          formData[element.name] = element.value;
        });
        checkboxInputs.forEach(element => {
          formData[element.name] = element.checked;
        });
        {#formData.datetime = changeDateTimeFormat(formData.datetime); #}

        if (newCall) {
          createCall(formData);

        } else {
          const id = $('#recordId').val();
          $.ajax({
            url: `/api/v1/calls/${id}/`,
            type: 'PUT',
            data: formData,
            beforeSend: function (xhr) {
              xhr.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
            },
            success: function (response) {
              $('#callModal').modal('hide');
            },
            error: function (error) {
              console.log(error);
            }
          }).done(function (data, textStatus, jqXHR) {
            let table = $('#datatable_calls');
            // Вроде не нужно всю таблицу перерисовывать, но пока оставлю
            {#table.DataTable().ajax.reload(null, false); // Reload the table data#}
            // Invalidate and draw the row
            let tr = $(`#row-${id}`);
            let row = table.DataTable().row(tr);
            row.invalidate().draw();
          });
        }
      });
    })

  });

    function copyText(event) {
      // Копирует текст в буфер, меняет иконку копирования на галочку, через 2 секунды обратно на иконку копирования
      event.preventDefault();
      let text = event.target.closest('td').innerText.trim();
      {#navigator.clipboard.writeText(text); #}

      if (navigator.clipboard && navigator.clipboard.writeText) {
        // HTTPS
        navigator.clipboard.writeText(text).then(function () {
          console.log('Text copied to clipboard');
        }).catch(function (err) {
          console.error('Could not copy text: ', err);
        });
      } else {
        // HTTP
        const textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        try {
          document.execCommand('copy');
          console.log('Text copied to clipboard (fallback)');
        } catch (err) {
          console.error('Fallback: Oops, unable to copy', err);
        }
        document.body.removeChild(textarea);
      }


      const copyIcon = ['fa-regular', 'fa-copy'];
      const checkIcon = ['fa-solid', 'fa-check'];
      event.target.classList.remove(...copyIcon);
      event.target.classList.add(...checkIcon);
      setTimeout(() => {
        event.target.classList.remove(...checkIcon);
        event.target.classList.add(...copyIcon);
      }, 2000);
    }

    function deleteCall(event) {
      // Удаляет звонок, меняя в базе deleted на True
      if (confirm('Хотите удалить звонок?')) {
        const id = event.target.closest('button').dataset['id'];
        $.ajax({
          url: `/calls/delete/${id}/`,
          type: 'GET',
          beforeSend: function (xhr) {
            xhr.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
          },
          success: function (response) {
            console.log('Успешно удалён');
          },
          error: function (error) {
            console.log(error);
          }
        }).done(function (data, textStatus, jqXHR) {
          let table = $('#datatable_calls');
          table.DataTable().ajax.reload(null, false); // Reload the table data
        });
      }
    }

</script>

{% endblock %}
